<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" href="/image/xmu.png" type="image/x-icon"/>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>编辑用户 - 校园二手交易平台</title>
  <script src="/js/jquery-3.2.js">
  </script>

  <link rel="stylesheet" href="/css/regisstyle.css">
</head>
<body>
<section>
  <div class="leaves">
    <div class="set">
      <div><img src="./image/leaf_01.png"></div>
      <div><img src="./image/leaf_02.png"></div>
      <div><img src="./image/leaf_03.png"></div>
      <div><img src="./image/leaf_04.png"></div>
      <div><img src="./image/leaf_01.png"></div>
      <div><img src="./image/leaf_02.png"></div>
      <div><img src="./image/leaf_03.png"></div>
      <div><img src="./image/leaf_04.png"></div>
    </div>
  </div>
  <img src="./image/bg.jpg" class="bg">
  <img src="./image/girl2.png" class="girl">
  <img src="./image/trees.png" class="trees">
  <div class="login">
    <h2>修改用户</h2>
    <div class="innner">
      <div class="inputBox">
        <form action="/submitEditInfo.do" method="post">
          <input type="hidden" th:value="${editUID}" name="UID"/>
          <input type="text" placeholder="姓名" name="Uname" th:value="${targetUser.uname}"/>
          <input id="email" placeholder="邮箱" type="text" name="Email" th:value="${targetUser.email}"/>
          <span id="emailError" style="color: red"></span>
          <input id="phoneNum" placeholder="联系电话" type="text" name="PhoneNum" th:value="${targetUser.phoneNum}"/>

						<p th:type="error" th:if="${emptyError}!=null" th:text="${emptyError}"></p>
          <input id="submit" type="submit" class="submit-btn" name="goods-submit"/>
        </form>
      </div>
      <div class="group">
        <a href="/goToAdminStage.do">返回后台</a>
        <a href="#">©2023-7 大黄狗二手交易</a>
      </div>
    </div>


  </div>
  <script type="text/javascript" src="/js/jquery-3.2.js"></script>
</section>
</body>
</html>