<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="shortcut icon" href="/image/xmu.png" type="image/x-icon"/>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>登录 - 校园二手交易平台</title>
	<script src="/js/jquery-3.2.js">
	</script>
	<script src="/js/login/init_login.js">
	</script>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section>
	<div class="leaves">
		<div class="set">
			<div><img src="./image/leaf_01.png"></div>
			<div><img src="./image/leaf_02.png"></div>
			<div><img src="./image/leaf_03.png"></div>
			<div><img src="./image/leaf_04.png"></div>
			<div><img src="./image/leaf_01.png"></div>
			<div><img src="./image/leaf_02.png"></div>
			<div><img src="./image/leaf_03.png"></div>
			<div><img src="./image/leaf_04.png"></div>
		</div>
	</div>
	<img src="./image/bg.jpg" class="bg">
	<img src="./image/girl2.png" class="girl">
	<img src="./image/trees.png" class="trees">
	<form action="/login.do" method="post">
		<div class="login">
			<h2>登录</h2>
			<div class="innner">
				<div class="inputBox">
					<input type="text" placeholder="学号" id="input_username" class="userName" name="sNum"/>
				</div>
				<div class="inputBox">
					<input type="password" placeholder="密码"  id="input_password" class="password" name="Password"/>
				</div>

				<tr height="20">
					<td colspan="2">
						<input type="radio" class="choice" name="isAdmin" value="true" id="r1"/>
						<label for="r1">管理员</label>
						<input type="radio" class="choice" name="isAdmin" value="false" checked="checked" id="r2"/>
						<label for="r2">学生</label>
					</td>
				</tr>

				<br><br>

				<p style="color: #c53737" align="center" id="loginError" th:if="${loginMessage}!=null" th:text="${loginMessage}"></p>

				<div class="inputBox">
					<input type="submit" class="loginBtn" value="Login" id="btn">
				</div>
				<div class="group">
					<a href="/">Back to Home</a>
					<a href="/goToRegister.do">Register</a>
				</div>
			</div>


		</div>
	</form>
	<script type="text/javascript" src="/js/jquery-3.2.js"></script>
</section>
</body>
</html>