<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>新用户重置密码</title>
  <link rel="stylesheet" type="text/css" href="/css/mygoodsshelf.css"/>
  <link rel="stylesheet" type="text/css" href="/css/upload.css"/>
  <link rel="stylesheet" type="text/css" href="/css/navall.css"/>
  <script type="text/javascript" src="/js/jquery-3.2.js"></script>
  <script type="text/javascript" src="/js/login/loginCheck.js">
  </script>
</head>
<body>
<!-- 导航条 -->
<div class="shell-main-nav">
  <div class="logo">
    <img src="./image/Cheems log.jpg" alt="">
    <span>大黄狗二手交易</span>
  </div>
  <ul style="list-style-type:none">
    <li><a href="/">首页</a></li>
    <li><a href="/goToMallPage.do">二手商品</a></li>
    <li><a href="/personal_info.do" class="name" th:text="${marketUser.uname}">爱困</a></li>
    <!--<a href="cart.html" class="goodsshelf">我的购物车</a>-->
    <li><a class="logout" href="/logout.do"> [ 退出 ]</a></li>
    <div class="nav-box"></div>
  </ul>
</div>

<div class="titleName">
  <h3>重置密码</h3>
</div>

<div class="container">
  <form action="/newPassword.do" method="post">
<!--    <input type="hidden" th:value="${editUID}" name="UID"/>-->
    <p>
      <span class="desc-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <input id="originPwd" type="hidden" th:value="${originPwd}"/>
      密&nbsp;&nbsp;&nbsp;&nbsp;码：<input id="password" type="password" onfocusout="validate1()" name="Password"/>
    </p><br/>
    <p>
      <span class="orign-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      重复密码：<input id="rePassword" type="password" onfocusout="validate2()" name="rePassword"/>
      <span id="passwordError" style="color: red"></span>
    </p>
    <input type="submit" class="submit-btn" name="goods-submit"/>
  </form>
</div>
<footer>
  <a href="#">©2023-7 大黄狗二手交易</a>
  <a href="#">厦UDP备114514号 - 1919810&nbsp;&nbsp;&nbsp;您的认可就是大黄狗最大的喜悦</a>
</footer>
</body>
</html>